
@{
    ViewData["Title"] = "Index";
}

@model ICollection<TrFeature>
<div class="container">
	<div class="card mt-5">
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th colspan="2">Operation</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var b in Model)
					{
						<tr>
							<td>@b.Id</td>
							<td>@b.Title</td>
							<td><a class="btn btn-danger" asp-area="Manage" asp-controller="TrFeature" asp-action="Delete" asp-route-id="@b.Id">Delete</a></td>
							<td><a class="btn btn-info" asp-area="Manage" asp-controller="TrFeature" asp-action="Update" asp-route-id="@b.Id">Update</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

