@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Search Backdrop-->
<div class="search-backdrop"></div>


<!--Menu Backdrop-->
<div class="menu-backdrop"></div>

<!-- Hidden Navigation Bar -->
<section class="hidden-bar">
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></span></div>
        <div class="nav-logo-box">
            <div class="logo"><a href="index.html" title="Treker"><img src="images/logo.svg" alt="" title="Treker"></a></div>
        </div>
        <!-- .Side-menu -->
        <div class="side-menu">
            <ul class="navigation clearfix">
                <li class="dropdown">
                    <a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Home 01</a></li>
                        <li><a href="index-2.html">Home 02</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="about.html">About Us</a>
                    <ul>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="team-member.html">Team Member</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="current dropdown">
                    <a href="shop.html">Shop</a>
                    <ul>
                        <li><a href="shop.html">Our Shop</a></li>
                        <li><a href="product-single.html">Product Details</a></li>
                        <li><a href="wishlist.html">My Wishlist</a></li>
                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="reset-password.html">Forgot Password</a></li>
                    </ul>
                </li>
                <li><a href="destinations.html">Destinations</a></li>
                <li><a href="trekking.html">Trekking</a></li>
                <li class="dropdown">
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="activities.html">Activities</a></li>
                        <li><a href="destinations-2.html">Destinations 02</a></li>
                        <li><a href="tours.html">Tours</a></li>
                        <li><a href="packages.html">Packages 01</a></li>
                        <li><a href="packages-2.html">Packages 02</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                        <li><a href="error-page.html">404 Page</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="blog.html">News</a>
                    <ul>
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="blog-2.html">Blog Classic</a></li>
                        <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!-- /.Side-menu -->

        <div class="links-box clearfix">
            <div class="clearfix">
                <div class="link"><a href="login.html" class="theme-btn btn-style-one"><span>Login<i class="icon far fa-angle-right"></i></span></a></div>
                <div class="link"><a href="signup.html" class="theme-btn btn-style-two"><span>Sign Up<i class="icon far fa-angle-right"></i></span></a></div>
            </div>
        </div>

    </div><!-- / Hidden Bar Wrapper -->
</section>
<!-- / Hidden Bar -->

<div class="cart-backdrop"></div>
<!--Cart Sidebar-->
<div class="cart-sidebar">
    <div class="cart-side-inner">
        <div class="cart-side-header">
            <div class="closer-btn"><span>Close</span></div>
            <h5>Shopping Cart</h5>
        </div>
        <div class="prod-box">
            <div class="prod-block">
                <div class="prod-inner">
                    <div class="prod-thumb"><a href="#"><img src="images/resource/shop/shop-thumb-1.jpg" alt=""></a></div>
                    <div class="remove-item"><a href="#"><i class="far fa-times"></i></a></div>
                    <div class="prod-title"><a href="#">Smart Air Bag Travel</a></div>
                    <div class="quantity-box">
                        <div class="item-quantity">
                            <input class="qty-spinner" type="text" value="1" name="quantity">
                        </div>
                    </div>
                    <div class="calculations">1 x <span>$225.00</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-content">
        <div class="count clearfix">
            <span class="ttl">Subtotal</span>
            <span class="dtl">$225.00</span>
        </div>
        <div class="links clearfix">
            <div class="left"><a href="#" class="theme-btn btn-style-one"><span>View Cart</span></a></div>
            <div class="right"><a href="#" class="theme-btn btn-style-two"><span>Checkout</span></a></div>
        </div>
    </div>
</div>

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url(images/background/banner-image-1.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Login In</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a href="index.html">Home</a></li>
                    <li class="current">Login In</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <div class="form-box site-form">
            <div class="login-form">
                <h5>Login In</h5>
                <form method="post" >
                    <div class="row clearfix">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Email Address <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="EmailOrUsername" class="form-control form-control-user" placeholder="Enter Username or Email Address...">
                                <span asp-validation-for="EmailOrUsername" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Password <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Password" class="form-control form-control-user" placeholder="Password">
                                <span asp-validation-for="Password" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-inner clearfix">
                                <div class="remember">
                                    <div class="check-block">
                                        <input type="checkbox" name="fieldname" id="check-1">
                                        <label for="check-1">Remember Me</label>
                                    </div>
                                </div>
                                <div class="forgot-pass">
                                    <a href="reset-password.html">Forgot your password? </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-two"><span>Login In<i class="icon far fa-angle-right"></i></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="lower-link">Don't have a account? <a asp-controller="Account" asp-action="Register">Sign Up</a> Now</div>
        </div>
    </div>
</section>

