
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Search Backdrop-->
<div class="search-backdrop"></div>


<!--Menu Backdrop-->
<div class="menu-backdrop"></div>

<!-- Hidden Navigation Bar -->
<section class="hidden-bar">
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></span></div>
        <div class="nav-logo-box">
            <div class="logo"><a href="~/assets/index.html" title="Treker"><img src="~/assets/images/logo.svg" alt="" title="Treker"></a></div>
        </div>
        <!-- .Side-menu -->
        <div class="side-menu">
            <ul class="navigation clearfix">
                <li class="dropdown">
                    <a href="~/assets/index.html">Home</a>
                    <ul>
                        <li><a href="~/assets/index.html">Home 01</a></li>
                        <li><a href="~/assets/index-2.html">Home 02</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="~/assets/about.html">About Us</a>
                    <ul>
                        <li><a href="~/assets/team.html">Our Team</a></li>
                        <li><a href="~/assets/team-member.html">Team Member</a></li>
                        <li><a href="~/assets/faq.html">FAQs</a></li>
                        <li><a href="~/assets/gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="current dropdown">
                    <a href="~/assets/shop.html">Shop</a>
                    <ul>
                        <li><a href="~/assets/shop.html">Our Shop</a></li>
                        <li><a href="~/assets/product-single.html">Product Details</a></li>
                        <li><a href="~/assets/wishlist.html">My Wishlist</a></li>
                        <li><a href="~/assets/shopping-cart.html">Shopping Cart</a></li>
                        <li><a href="~/assets/checkout.html">Checkout</a></li>
                        <li><a href="~/assets/signup.html">Signup</a></li>
                        <li><a href="~/assets/login.html">Login</a></li>
                        <li><a href="~/assets/reset-password.html">Forgot Password</a></li>
                    </ul>
                </li>
                <li><a href="~/assets/destinations.html">Destinations</a></li>
                <li><a href="~/assets/trekking.html">Trekking</a></li>
                <li class="dropdown">
                    <a href="~/assets/#">Pages</a>
                    <ul>
                        <li><a href="~/assets/activities.html">Activities</a></li>
                        <li><a href="~/assets/destinations-2.html">Destinations 02</a></li>
                        <li><a href="~/assets/tours.html">Tours</a></li>
                        <li><a href="~/assets/packages.html">Packages 01</a></li>
                        <li><a href="~/assets/packages-2.html">Packages 02</a></li>
                        <li><a href="~/assets/booking.html">Booking</a></li>
                        <li><a href="~/assets/terms-conditions.html">Terms & Conditions</a></li>
                        <li><a href="~/assets/error-page.html">404 Page</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="~/assets/blog.html">News</a>
                    <ul>
                        <li><a href="~/assets/blog.html">Our Blog</a></li>
                        <li><a href="~/assets/blog-2.html">Blog Classic</a></li>
                        <li><a href="~/assets/blog-single.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="~/assets/contact.html">Contact</a></li>
            </ul>
        </div><!-- /.Side-menu -->

        <div class="links-box clearfix">
            <div class="clearfix">
                <div class="link"><a href="~/assets/login.html" class="theme-btn btn-style-one"><span>Login<i class="icon far fa-angle-right"></i></span></a></div>
                <div class="link"><a href="~/assets/signup.html" class="theme-btn btn-style-two"><span>Sign Up<i class="icon far fa-angle-right"></i></span></a></div>
            </div>
        </div>

    </div><!-- / Hidden Bar Wrapper -->
</section>
<!-- / Hidden Bar -->

<div class="cart-backdrop"></div>
<!--Cart Sidebar-->
<div class="cart-sidebar">
    <div class="cart-side-inner">
        <div class="cart-side-header">
            <div class="closer-btn"><span>Close</span></div>
            <h5>Shopping Cart</h5>
        </div>
        <div class="prod-box">
            <div class="prod-block">
                <div class="prod-inner">
                    <div class="prod-thumb"><a href="~/assets/#"><img src="~/assets/images/resource/shop/shop-thumb-1.jpg" alt=""></a></div>
                    <div class="remove-item"><a href="~/assets/#"><i class="far fa-times"></i></a></div>
                    <div class="prod-title"><a href="~/assets/#">Smart Air Bag Travel</a></div>
                    <div class="quantity-box">
                        <div class="item-quantity">
                            <input class="qty-spinner" type="text" value="1" name="quantity">
                        </div>
                    </div>
                    <div class="calculations">1 x <span>$225.00</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-content">
        <div class="count clearfix">
            <span class="ttl">Subtotal</span>
            <span class="dtl">$225.00</span>
        </div>
        <div class="links clearfix">
            <div class="left"><a href="~/assets/#" class="theme-btn btn-style-one"><span>View Cart</span></a></div>
            <div class="right"><a href="~/assets/#" class="theme-btn btn-style-two"><span>Checkout</span></a></div>
        </div>
    </div>
</div>

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url(images/background/banner-image-1.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Wishlist</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Wishlist Section-->
<section class="wishlist-section">
    <div class="auto-container">
        <!--Cart Outer-->
        <div class="wishlist-outer">
            <div class="table-outer">
                <div class="table-box">
                    <table class="wishlist-table">
                        <tbody>
                            <tr>
                                <td class="prod-column image-column">
                                    <div class="image-box">
                                        <figure class="prod-thumb"><a href="~/assets/#"><img src="~/assets/images/resource/shop/s-cart-thumb.jpg" alt=""></a></figure>
                                    </div>
                                </td>
                                <td class="prod-column info-column">
                                    <div class="info-box">
                                        <h4 class="prod-title">Smart Air Bag Travel</h4>
                                        <div class="price">Price : <span>$225.00</span></div>
                                        <div class="date">April 02, 2022</div>
                                    </div>
                                </td>
                                <td class="avail">
                                    <div class="yes">In Stock</div>
                                    <div class="add-btn"><a href="~/assets/#" class="theme-btn add-cart-btn"><span><i class="far fa-shopping-cart"></i> Add To Cart</span></a></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="prod-column image-column">
                                    <div class="image-box">
                                        <figure class="prod-thumb"><a href="~/assets/#"><img src="~/assets/images/resource/shop/s-cart-thumb.jpg" alt=""></a></figure>
                                    </div>
                                </td>
                                <td class="prod-column info-column">
                                    <div class="info-box">
                                        <h4 class="prod-title">Smart Air Bag Travel</h4>
                                        <div class="price">Price : <span>$225.00</span></div>
                                        <div class="date">April 02, 2022</div>
                                    </div>
                                </td>
                                <td class="avail">
                                    <div class="yes">In Stock</div>
                                    <div class="add-btn"><a href="~/assets/#" class="theme-btn add-cart-btn"><span><i class="far fa-shopping-cart"></i> Add To Cart</span></a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="wishlist-lower clearfix">
                    <div class="left clearfix">
                        <div class="link-title">Wishlist Link</div>
                        <div class="link-form clearfix">
                            <div class="field">
                                <input type="text" name="coupon-code" value="" placeholder="https://themeforest.net/">
                            </div>
                            <div class="button">
                                <button type="button" class="theme-btn btn-style-two"><span>Copy Link</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="share clearfix">
                        <div class="share-title">share on : </div>
                        <ul class="share-links clearfix">
                            <li><a href="~/assets/#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="~/assets/#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="~/assets/#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="~/assets/#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Cart Section-->
