
@{
    ViewData["Title"] = "Create";
}
@model CreateContinentInfoVM
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Agency</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Number">Number</label>
                        <input asp-for="Number" class="form-control" id="exampleInputName1" placeholder="Number">
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input accept="image/" asp-for="Image" class="form-control" id="exampleInputName1" placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="Index" asp-controller="ContinentInfo" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

