
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="image-layer" style="background-image: url(~/assets/images/background/not-found-bg.jpg);"></div>
<!-- Preloader -->

<section class="not-found">

    <div class="cloud cloud-left"><img src="~/assets/images/resource/404-cloud-left.svg" alt=""></div>
    <div class="cloud cloud-right"><img src="~/assets/images/resource/404-cloud-right.svg" alt=""></div>
    <div class="auto-container">
        <div class="not-found-inner">
            <div class="image-box"><img src="~/assets/images/resource/404-image.svg" alt=""></div>
            <h2>Opps! The page does not exist!</h2>
            <div class="text">The page which you are looking for does not exist galley of type and scrambled it to make a type specimen book. Please return to the homepage.</div>
            <div class="link-box"><a href="~/assets/index.html" class="theme-btn btn-style-two"><span>Go Back Home<i class="icon far fa-angle-right"></i></span></a></div>
        </div>
    </div>
</section>

