@{
    ViewData["Title"] = "Create";
}
@model TrekkingDay
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">  Add Trekking Day </h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" id="exampleInputName1" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="TrekkingId">Trekking</label>
                        <select asp-for="TrekkingId" asp-items="@ViewBag.Trekkings">
                            <option selected disabled> Select a Trekking</option>
                        </select>
                        <span asp-validation-for="TrekkingId" class="text-danger"></span>
                    </div>
                  
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="Index" asp-controller="TrekkingDay" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


