
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@model UpdateBrandVM
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">  Add Brand </h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input accept="image/" asp-for="Image" class="form-control" id="exampleInputName1" placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="Index" asp-controller="Brand" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>



