
@{
    ViewData["Title"] = "Create";
}
@model Difficulty
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

 